#container {
    min-width: 696px;
    max-width: 696px;
    min-height: 696px;
    max-height: 696px;
    background: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.box {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: white;
    flex: 1;
    margin: -2px;
}